@import 'tailwindcss';
@import 'lenis/dist/lenis.css';

@theme {
	--color-beige: #f7f2e8;
	--color-brown: #3a200e;
	--color-brown-300: #89796e;
	--color-brown-400: #614d3e;
	--color-brown-600: #2e1a0b;
	--color-pink: #f45d8c;
	--color-pink-200: #fbbed1;
	--color-blue-200: #d7ebfb;
	--color-blue-500: #9accf4;
	--color-blue-600: #6ca7d5;

	--font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
	--font-script: 'Sacramento', cursive;
	--font-exmouth: 'Exmouth', cursive;
}

@font-face {
	font-family: 'Exmouth';
	src: url('/fonts/exmouth_.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
